<div *ngIf="selectedRole">
    <table align="center" class="table table-bordered table-dark">
        <th colspan="4" align="center">
            <h2 align="center">Selected Role</h2>
        </th>
        <tr align="center">
            <td>Role Name</td>
            <td>FTE Workload</td>
        </tr>
        <tr align="center">
            <td>
                <input [(ngModel)]="selectedRole.RoleName" placeholder="RoleName" />
            </td>
            <td>
                <input [(ngModel)]="selectedRole.FTE" placeholder="FTE" />
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button title="Delete Role" (click)="onDelete(selectedRole)"> Delete Role </button>
                <button (click)="clearSelectedRole()"> Hide Panel </button>
            </td>
        </tr>
    </table>
</div>