<h2>Available courses</h2>
<div class="grid-container">
    <div class="head1">ID</div>
    <div class="head2">Name</div>
    <ng-container *ngFor="let course of courses">
        <div class="item">{{course.id}}</div>
        <div class="item" (click)="onSelect(course)">{{course.name}}</div>
    </ng-container>
</div>
<br><br>
<div>
    <label>Course name:
      <input #courseName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(courseName.value); courseName.value=''">
      add
    </button>
</div>
<div *ngIf="selectedCourse">
    <h2>{{selectedCourse.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedCourse.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedCourse.name" placeholder="name"/>
      </label>
    </div>
    <button class="delete" title="delete course"
            (click)="delete(selectedCourse)">Delete course</button>
</div>