<div align="center">
  <div>
    <h3>Recently added/updated profiles</h3>
    <div class="grid grid-pad">
      <a *ngFor="let profile of profiles" class="col-1-4">
        <div class="module profile">
          <h4>{{profile.profileAbbreviation}} - {{profile.profileName}}</h4>
        </div>
      </a>
    </div>
  </div>
  <br><br><br><br>
  <div>
    <br><br>
    <h3>Recently added/updated courses</h3>
    <div class="grid grid-pad">
      <a *ngFor="let course of courses" class="col-1-4">
        <div class="module course">
          <h4>{{course.name}}</h4>
        </div>
      </a>
    </div>
  </div>
  <br><br><br><br>
  <div>
    <br><br>
    <h3>Recently added/updated Roles</h3>
    <div class="grid grid-pad">
      <a *ngFor="let role of roles" class="col-1-4">
        <div class="module role">
          <h4>{{role.RoleName}}</h4>
        </div>
      </a>
    </div>
  </div>
  <br><br><br><br>
  <div>
    <br><br>
    <h3>Recently added/updated users</h3>
    <div class="grid grid-pad">
      <a *ngFor="let user of users" class="col-1-4">
        <div class="module user">
          <h4>{{user.first_name}}{{user.last_name}}</h4>
        </div>
      </a>
    </div>
  </div>
  <br><br><br><br>
</div>