<table align="center">

  <tr align="center" class="grid grid-pad">
    <table align="center" class="table table-bordered table-dark">
      <th colspan="4">
        <h1 align="center">Recently Added / Updated</h1>
      </th>
      <tr>
        <td>
          <table>
            <tr align="center">
              <h3>Profiles</h3>
            </tr>
            <tr *ngFor="let profile of profiles" routerLink="/detail/{{profile.id}}">
              <td align="center" (click)="onProfileSelect(profile)">
                <div>
                  <div>
                    <a>
                      <div class="module profile">
                        <h4>{{profile.profileAbbreviation}} - {{profile.profileName}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr align="center">
              <h3>Courses</h3>
            </tr>
            <tr *ngFor="let course of courses">
              <td align="center">
                <div>
                  <div>
                    <a>
                      <div class="module course">
                        <h4>{{course.name}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr align="center">
              <h3>Users</h3>
            </tr>
            <tr *ngFor="let user of users">
              <td align="center">
                <div>
                  <div>
                    <a>
                      <div class="module user">
                        <h4>{{user.first_name}}{{user.last_name}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr align="center">
              <h3>Roles</h3>
            </tr>
            <tr *ngFor="let role of roles">
              <td align="center">
                <div>
                  <div>
                    <a>
                      <div class="module role">
                        <h4>{{role.RoleName}}</h4>
                      </div>
                    </a>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </tr>
  <tr>
    <td *ngIf="selectedProfile">
      <app-profile-detail [selectedProfile]="selectedProfile" [profiles]="profiles"></app-profile-detail>
    </td>
  </tr>
</table>

<div align="center">

  <br><br><br><br>

  <br><br><br><br>

  <br><br><br><br>

  <br><br><br><br>
</div>