<div *ngIf="selectedProfile">
    <table *ngIf="selectedProfile" class="table table-bordered table-dark">
        <tr style="background-color: gray;">
            <th colspan="4">
                <h2 align="center">Selected Profile</h2>
            </th>
        </tr>
        
        <tr>
            <td>
                <b>Profile Name</b>
            </td>
            <td>
                <input [(ngModel)]="selectedProfile.profileName" placeholder="profileName">
            </td>
        </tr>
        <tr>
            <td>
                <b>Profile Description</b>
            </td>
            <td>
                <input [(ngModel)]="selectedProfile.profileDescription" placeholder="profileDescription">
            </td>
        </tr>
        <tr>
            <td>
                <b>Profile Owner</b>
            </td>
            <td>
                {{selectedProfile.profileOwner.first_name}}
            </td>
        </tr>
        <tr>
            <td>
                <b>Containing Courses:</b>
            </td>
            <td>
                <label *ngFor="let course of selectedProfile.containingCourse"> {{course.name}},
                </label>
            </td>
        </tr>        
        
        <tr style="border-collapse: true;" align="center">
            <td colspan="4">
                <button style="margin: 3mm;" class="btn btn-success" (click)="updateProfile(selectedProfile)"> Update Profile </button>
                <button style="margin: 3mm;" class="btn btn-secondary" (click)="clearSelectedProfile()">Hide Detail Panel</button>
            </td>
        </tr>
    </table>
</div>