<div class="container">
    <hr>
    <h4>
        <label for="search-box"> Profile Name Search </label> <span> </span>
        <input #searchBox id="search-box" (input)="search(searchBox.value)" />
    </h4>

    <table>
        <tr>
            <table class="table table-bordered table-dark">
                <tr class="selectedRow" *ngFor="let profile of profiles " [class.selected]="profile === selectedProfile"
                    (click)="onSelect(profile)">
                    <th scope="row">{{profile.profileAbbreviation}}</th>
                    <td>{{profile.profileName}} | Owner:
                        {{profile.profileOwner.first_name}} {{profile.profileOwner.last_name}} | Nr of Courses:
                        {{profile.containingCourse.length}}</td>
                </tr>
            </table>
        </tr>
        <tr>
            <td>
                <app-profile-detail [selectedProfile]="selectedProfile" [profiles]="profiles"></app-profile-detail>
            </td>
        </tr>
    </table>
</div>