/* HeroesComponent's private CSS styles */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
.selectedRow:hover{
  color: white;
  background-color: #81017B;
}
.selectedRow.selected{
  background-color: #E37BDF;
  color: white;
}

