<div class="container">
    <hr>
    <table>
        <tr>
            <table class="table table-bordered table-dark">
                <tr>
                    <td colspan="4"> 
                        <label style="margin: 3mm;" for="search-box"> Role Name Search </label> <span> </span>
                        <input style="margin: 3mm;" #searchBox id="search-box" (input)="search(searchBox.value)" />
                    </td>
                </tr>
                <tr>
                    <td>Profile Name</td>
                    <td>Profile Description</td>
                    <td>Profile Owner</td>
                    <td>Containing Courses</td>
                </tr>
                <tr class="selectedRow" *ngFor="let profile of profiles " [class.selected]="profile === selectedProfile"
                    (click)="onSelect(profile)">
                    <th>{{profile.profileName}}</th>
                    <td scope="row">{{profile.profileDescription}}</td>              
                    <td>{{profile.profileOwner.first_name}} {{profile.profileOwner.last_name}}</td>
                    <td></td>
                </tr>
            </table>
        </tr>
        <tr>
            <td>
                <app-profile-detail [selectedProfile]="selectedProfile" [profiles]="profiles"></app-profile-detail>
            </td>
        </tr>
    </table>
</div>