<div class="container">
    <hr>
    <table>
        <tr>
            <td>
                <h1>Profiles</h1>
                <div>
                    <ul class="profiles">
                        <li *ngFor="let profile of profiles" (click)="onSelect(profile)"
                            [class.selected]="profile === selectedProfile">
                            <div>

                            </div>
                            <span class="badge">{{profile.profileAbbreviation}}</span>{{profile.profileName}} | Owner:
                            {{profile.profileOwner.first_name}} {{profile.profileOwner.last_name}} | Nr of Courses:
                            {{profile.containingCourse.length}}
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <app-profile-detail [selectedProfile]="selectedProfile" [profiles]="profiles"></app-profile-detail>
            </td>
        </tr>
    </table>


</div>