<div class="container">
    <hr>
    <div>
        <h1>Roles</h1>
        <h4>
            <label for="search-box"> Role Name Search </label> <span> </span>
            <input #searchBox id="search-box" (input)="search(searchBox.value)" />
        </h4>

        <table class="table table-bordered table-dark">
            <tr>
                <td>
                    <b>ID</b>
                </td>
                <td>
                    <b>Name</b>
                </td>
                <td>
                    <b>FTE Workload</b>
                </td>
            </tr>
            <tr class="selectedRow" *ngFor="let role of roles" (click)="onSelect(role)"
                [class.selected]="role === selectedRole">
                <td>
                    {{role.Id}}
                </td>
                <td>
                    {{role.RoleName}}
                </td>
                <td>
                    {{role.FTE}}
                </td>
            </tr>
        </table>
        <app-role-detail [selectedRole]="selectedRole" [roles]="roles"></app-role-detail>
        <hr>
    </div>
    <div>
        <label>
            Role Name:<input #roleName>
        </label>
        <label>
            Role Id: <input #roleId>
        </label>

        <button title="Add Role" (click)="AddRole(roleName.value,roleId.value); roleName.value=''; roleId.value='';">
            Add Role
        </button>
        <hr>
    </div>
</div>