<div>
    <hr>
    <h1>Roles</h1>
    <div>
        <ul class="roles">
            <li *ngFor="let role of roles" (click)="onSelect(role)" [class.selected]="role === selectedRole">
                <div>

                </div>
                <span class="badge">{{role.Id}}</span>{{role.RoleName}} | FTE: {{role.FTE}}
            </li>
        </ul>
        <hr>
    </div>

    <div>
        <label>
            Role Name:<input #roleName>
        </label>
        <label>
            Role Id: <input #roleId>
        </label>

        <button title="Add Role" (click)="AddRole(roleName.value,roleId.value); roleName.value=''; roleId.value='';">
            Add Role
        </button>
        <hr>
    </div>
    <app-role-detail [selectedRole]="selectedRole" [roles]="roles"></app-role-detail>
</div>