/* HeroesComponent's private CSS styles */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
.selectedRow:hover{
  color: white;
  background-color: #81017B;
}
.selectedRow.selected{
  background-color: #E37BDF;
  color: white;
<<<<<<< HEAD
}
[type=button]{
  margin:3px;
}
=======
} 
>>>>>>> f61d160a7f9a91be18cd5ec7493711ea89bcc5e7
